        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'stationTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'{{'stationTabPan' | translate}}' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'stationLibelle' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'stationLibelle' | translate}}" id="1" [(ngModel)]="item.libelle"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validStationLibelle}"  />
                                                    <small class='p-error' *ngIf='!validStationLibelle'>Libelle est obligatoire.</small>
                                                </div>



                                            <div class="field col-12  md:col-6">
                                                <label>Type equipement</label>
                                                <p-multiSelect [options]="stationTypeEquipements" [(ngModel)]="item.stationTypeEquipements" itemSize="30" [virtualScroll]="true"
                                                                                                                          defaultLabel="Select un typeEquipement" optionLabel="typeEquipement.libelle"  display="chip"></p-multiSelect>
                                            </div>
                                </div>
                            </p-tabPanel>
                                    <p-tabPanel header="stationVoies">
                                        <p-tabView [(activeIndex)]="activeTab">
                                            <p-tabPanel header="Création">
                                                    <div class="grid">
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="1">Libelle<span style="color: red;">*</span></label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Libelle"
                                                                               id="1" [(ngModel)]="voiesElement.libelle" autofocus  [ngClass]="{'ng-invalid ng-dirty' : !validVoiesLibelle}"  >
                                                                        <small class='p-error' *ngIf='!validVoiesLibelle'>Libelle est obligatoire.</small>
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="2">Code<span style="color: red;">*</span></label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Code"
                                                                               id="2" [(ngModel)]="voiesElement.code" autofocus  [ngClass]="{'ng-invalid ng-dirty' : !validVoiesCode}"  >
                                                                        <small class='p-error' *ngIf='!validVoiesCode'>Code est obligatoire.</small>
                                                                    </div>
                                                                    <div class="field col-11 md:col-3">
                                                                        <label>Type voie</label>
                                                                        <p-dropdown  appendTo="body"  [options]="typeVoies" [(ngModel)]="voiesElement.typeVoie"
                                                                                     id="3"  [filter]="true" filterMatchMode="contains" [showClear]="true" optionLabel="libelle"
                                                                                     placeholder="Type voie"  >
                                                                        </p-dropdown>
                                                                        
                                                                    </div>
                                                                    <div class="col-1">
                                                                        <label></label>
                                                                        <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateTypeVoie('typeVoie')" class="p-button-success one-colonne-btn-success-align"></button>
                                                                    </div>
                                                                    <div class="field col-11 md:col-3">
                                                                        <label>Tele peayage</label>
                                                                        <p-dropdown  appendTo="body"  [options]="telePeayages" [(ngModel)]="voiesElement.telePeayage"
                                                                                     id="4"  [filter]="true" filterMatchMode="contains" [showClear]="true" optionLabel="libelle"
                                                                                     placeholder="Tele peayage"  >
                                                                        </p-dropdown>
                                                                        
                                                                    </div>
                                                                    <div class="col-1">
                                                                        <label></label>
                                                                        <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateTelePeayage('telePeayage')" class="p-button-success one-colonne-btn-success-align"></button>
                                                                    </div>
                                                        <div class="field col-12 md:col-1">
                                                            <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addVoies()"></button>
                                                        </div>

                                                    </div>
                                            </p-tabPanel>
                                            <p-tabPanel header="Liste {{item.voies?.length > 0 ? '(' + item.voies?.length + ')' : ''}}">
                                                    <div class="card">
                                                        <p-table [value]="item.voies" [scrollable]="true" scrollHeight="200px">
                                                            <ng-template pTemplate="header">
                                                                <tr>
                                                                                <th>Libelle</th>
                                                                                <th>Code</th>
                                                                                <th>Type voie</th>
                                                                                <th>Tele peayage</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </ng-template>
                                                            <ng-template pTemplate="body" let-p>
                                                                <tr>
                                                                                <td>{{p.libelle}}</td>
                                                                                <td>{{p.code}}</td>
                                                                            <td>{{p.typeVoie?.libelle}}</td>
                                                                            <td>{{p.telePeayage?.libelle}}</td>
                                                                    <td>
                                                                        <button (click)="deleteVoie(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                        <button (click)="editVoie(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                                    </td>
                                                                </tr>
                                                            </ng-template>
                                                        </p-table>
                                                    </div>

                                            </p-tabPanel>
                                        </p-tabView>
                                    </p-tabPanel>


                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-step">
                        <div style="margin-left: auto;">
                            <button pButton pRipple label="Valider"  icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                        </div>
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>
                        </div>

                </div>
            </ng-template>


            <app-type-voie-create-admin></app-type-voie-create-admin>
            <app-tele-peayage-create-admin></app-tele-peayage-create-admin>
            <app-type-equipement-create-admin></app-type-equipement-create-admin>

    </p-dialog>
